<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="icon" data-th-href="@{/public/img/favicon.ico}"/>
<link rel="stylesheet" data-th-href="@{/public/css/bootstrap.min.css}"/>
<link rel="stylesheet" data-th-href="@{/site/css/font-awesome.min.css}"/>
<link rel="stylesheet" data-th-href="@{/site/css/style.css}"/>
<link href="https://fonts.googleapis.com/css?family=Lato:700,900%7CDidact+Gothic" rel="stylesheet">
