<script type="text/javascript" data-th-src="@{/public/js/jquery-1.8.3.min.js}"></script>
<script type="text/javascript" data-th-src="@{/site/common/js/global.js}"></script>
<script type="text/javascript" data-th-src="@{/site/js/api/api.js}"></script>
<script type="text/javascript" data-th-src="@{/site/common/js/tools.js}"></script>
<script type="text/javascript" data-th-src="@{/site/common/js/common.js}"></script>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>