<div class="overlay-wrapper height-min">
    <div class="overlay-animation"></div>
    <div class="flex">
        <div class="flex-in">
            <div class="overlay-menu">
                <div class="container">
                    <div class="row">
                        <div class="btn-close"><span></span><span></span></div>
                        <div class="col-lg-2 col-lg-offset-5">
                            <ul>
                                <li class="active">
                                    <a href="/">首页</a>
                                </li>
                                <li>
                                    <a href="/list">博客文章</a>
                                </li>
                                <li>
                                    <a href="/archives">归档</a>
                                </li>
                                <li>
                                    <a href="/about">关于我</a>
                                </li>
                                <li>
                                    <a href="/msgboard">留言板</a>
                                </li>
                                <li>
                                    <a href="/link">友情链接</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>