<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="site/common/head"></head>
<link th:href="@{/site/css/my.css}" rel="stylesheet"/>
<link th:href="@{/site/css/swiper.min.css}" rel="stylesheet"/>
<link rel="stylesheet" th:href="@{/admin/lib/markdown/css/editormd.min.css}"/>
<title>Ls'blog</title>
<body>

<div th:replace="site/common/loader"></div>

<div th:replace="site/common/header"></div>

<div th:replace="site/common/overlay-menu"></div>

<!-- content -->
<div id="content-wrapper">

    <div class="empty-space h35-xs h90-sm"></div>
    <div class="container-fluid-style2">
        <div class="swiper-banner">
            <div class="swiper-container">
                <div class="swiper-slide"><a href="javascript:void(0);"><span class="bg"
                                                                              th:style="'background-image: url('+ ${article.articleCoverImg} +');'"></span></a>
                </div>
            </div>
        </div>
        <div class="container-fluid-in-wrapper">
            <div class="container-fluid-in">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="empty-space h25-xs h55-md"></div>
                        <article>
                            <h1 class="h1-2">[[${article.articleTitle}]]</h1>
                            <div class="empty-space h20-xs"></div>
                            <span class="autor small-1">
                                    <span>[[${article.articleCreationTime}]]</span>
                                    <span>by [[${article.articleAuthor}]]</span> [[${article.articleComment}]] <i
                                    class="fa fa-comments-o"></i> [[${article.articleView}]] <i class="fa fa-eye"></i>
                                </span>
                            <div class="empty-space h30-xs"></div>
                            <p class="normal-l grey-dark">[[${article.articleDec}]]</p>
                        </article>
                    </div>
                </div>
                <div class="empty-space h30-xs"></div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="section">
                            <p class="text-left">
                            <div id="content" th:if="${article.articleContentType == '1'}">
                                <textarea style="display:none;">[[${article.articleContent}]]</textarea>
                            </div>
                            <div id="text" class="form-group col-md-12" th:if="${article.articleContentType == '2'}"
                                 style="margin-left: 1px;">
                                <!-- wangEditor -->
                                <div id="editor" class="form-group">
                                </div>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="empty-space h40-xs"></div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="tags">
                                    <i th:each="tag : ${article.articleTag}">
                                        <a th:each="entry : ${tag}" class="btn-style3" th:href="'/tag/'+${entry.key}"><span>[[${entry.value}]]</span></a>
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="comment">
                    <div class="col-md-12 col-md-offset-1">
                        <div class="empty-space h30-xs h60-md fl"></div>
                        <div class="comments-wrapper" style="width: 100%;">
                            <div v-for="comment in commentsList">
                                <div class="empty-space h25-xs h45-md"></div>
                                <div class="comment">
                                    <img src="http://lsblog.vip/user.png" alt="">
                                    <div class="description">
                                        <span class="big">{{comment.node.commentNickname}}</span>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <p>{{comment.node.commentTime}}</p>
                                            </div>
                                            <div class="col-md-2">
                                                <a class="btn-style1" @click="clickReply(comment.node.id);"
                                                   href="javascript:void(0);"><span>回复</span></a>
                                            </div>
                                        </div>
                                        <div class="empty-space h10-xs"></div>
                                        <p class="comment-content">{{comment.node.commentContent}}</p>
                                        <div v-show="replyBoxShow === comment.node.id" class="row" style="width: 100%;">
                                            <div class="col-md-10 col-md-offset-1">
                                                <div class="form-wrapper style2">
                                                    <span><i class="fa fa-times" @click="close"
                                                             style="cursor: pointer;"></i></span>
                                                    <div class="empty-space h30-xs"></div>
                                                    <div class="input-wrapper">
                                                        <div class="input-style">
                                                            <input placeholder="昵称" name="replyName"
                                                                   v-model="replyForm.nickname"
                                                                   type="text" class="input" required/>
                                                        </div>
                                                        <div class="input-style">
                                                            <input placeholder="邮箱" v-model="replyForm.email"
                                                                   name="replyEmail" type="text" class="input"
                                                                   required/>
                                                        </div>
                                                        <div class="input-style textarea">
                                                                <textarea placeholder="来说几句吧..."
                                                                          v-model="replyForm.content"
                                                                          name="replyMessage" class="input"
                                                                          required></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="empty-space h20-xs fl"></div>
                                                    <button class="btn-style1 style2" @click="submitReply">
                                                        <span>发送</span>
                                                    </button>
                                                    <div class="empty-space h30-md"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="empty-space h10-md"></div>

                                    <div class="comment" v-if="comment.childNodes.length > 0">
                                        <div class="col-md-12">
                                            <div class="reply-list">
                                                <div class="reply" v-for="reply in comment.childNodes">
                                                    <div>
                                                        <a href="javascript:void(0);">{{reply.commentNickname}}： </a>回复&nbsp;
                                                        <a href="javascript:void(0);">{{reply.commentFatherNickname}} </a>&nbsp;
                                                        <span class="reply-content">{{reply.commentContent}}</span>
                                                    </div>
                                                    <p>
                                                        <span>{{reply.commentTime}}</span>
                                                        <span @click="clickReply(reply.id);"
                                                              class="reply-replybtn">回复</span>
                                                    </p>
                                                    <div v-show="replyBoxShow === reply.id" class="row"
                                                         style="width: 100%;">
                                                        <div class="col-md-10 col-md-offset-1">
                                                            <div class="form-wrapper style2">
                                                                <span><i class="fa fa-times" @click="close"
                                                                         style="cursor: pointer;"></i></span>
                                                                <div class="empty-space h30-xs"></div>
                                                                <div class="input-wrapper">
                                                                    <div class="input-style">
                                                                        <input placeholder="昵称"
                                                                               v-model="replyForm.nickname"
                                                                               name="replyName" type="text"
                                                                               class="input" required/>
                                                                    </div>
                                                                    <div class="input-style">
                                                                        <input placeholder="邮箱"
                                                                               v-model="replyForm.email"
                                                                               name="replyEmail" type="text"
                                                                               class="input" required/>
                                                                    </div>
                                                                    <div class="input-style textarea">
                                                                        <textarea v-model="replyForm.content"
                                                                                  placeholder="来说几句吧..."
                                                                                  name="replyMessage" class="input"
                                                                                  required></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="empty-space h20-xs fl"></div>
                                                                <button class="btn-style1 style2" @click="submitReply">
                                                                    <span>发送</span></button>
                                                                <div class="empty-space h30-md"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="form-wrapper style2">
                                <div class="empty-space h35-xs"></div>
                                <h6 class="h7">留言</h6>
                                <p>评论需审核通过后方可显示</p>
                                <div class="empty-space h30-xs"></div>
                                <div class="input-wrapper">
                                    <div class="input-style">
                                        <input name="name" placeholder="昵称"
                                               v-model="commentForm.nickname" type="text" class="input"
                                               required>
                                    </div>
                                    <div class="input-style">
                                        <input name="email" placeholder="邮箱"
                                               v-model="commentForm.email" type="text" class="input"
                                               required>
                                    </div>
                                    <div class="input-style textarea">
                                            <textarea name="message" class="input" placeholder="来说几句吧..."
                                                      v-model="commentForm.content"
                                                      required></textarea>
                                    </div>
                                </div>
                                <div class="empty-space h20-xs fl"></div>
                                <button class="btn-style1 style2" @click="submitComment"><span>发送</span></button>
                                <div class="empty-space h50-xs h90-md"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end container-fluid-style2 -->

            <!-- footer -->
            <footer class="footer-style">
                <div class="container">
                    <div th:replace="site/common/footer"></div>
                </div>
            </footer>
            <!-- footer -->
        </div>
        <!-- content -->
    </div>
</div>
<script type="text/javascript" th:replace="site/common/js"></script>
<script type="text/javascript" th:src="@{/site/common/js/swiper.jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/site/js/article.js}"></script>
<script th:src="@{/admin/lib/wangEditor/wangEditor.min.js}"></script>
<!--markdown-->
<script th:src="@{/admin/lib/markdown/editormd.min.js}"></script>
<script th:src="@{/admin/lib/markdown/lib/marked.min.js}"></script>
<script th:src="@{/admin/lib/markdown/lib/prettify.min.js}"></script>
<script th:src="@{/admin/lib/markdown/lib/raphael.min.js}"></script>
<script th:src="@{/admin/lib/markdown/lib/underscore.min.js}"></script>
<script th:src="@{/admin/lib/markdown/lib/sequence-diagram.min.js}"></script>
<script th:src="@{/admin/lib/markdown/lib/flowchart.min.js}"></script>
<script th:src="@{/admin/lib/markdown/lib/jquery.flowchart.min.js}"></script>
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script th:inline="javascript">
    // wangEditor
    editor = new wangEditor('#editor');
    editor.create();
    var type = [[${article.articleContentType}]];
    if (type === '2') {
        $("#editor").html([[${article.articleContent}]]);
    }
    $("#list").addClass("active");
</script>
</body>

</html>
