<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="icon" data-th-href="@{/public/img/favicon.ico}"/>
<link rel="stylesheet" data-th-href="@{/public/css/bootstrap.min.css}"/>
<link rel="stylesheet" data-th-href="@{/admin/lib/font-awesome/css/font-awesome.css}"/>
<link rel="stylesheet" data-th-href="@{/admin/common/css/style.css}"/>
<link rel="stylesheet" data-th-href="@{/admin/common/css/style-responsive.css}"/>
<link href="https://cdn.bootcss.com/element-ui/2.10.0/theme-chalk/index.css" rel="stylesheet">
