<script type="text/javascript" data-th-src="@{/public/js/jquery-1.8.3.min.js}"></script>
<script type="text/javascript" data-th-src="@{/public/js/bootstrap.min.js}"></script>
<script type="text/javascript" data-th-src="@{/admin/common/js/common-scripts.js}"></script>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
<script src="https://cdn.bootcss.com/element-ui/2.10.0/index.js"></script>
<script type="text/javascript" data-th-src="@{/admin/js/api/api.js}"></script>
